name: Vestra

on:
  push:
  schedule:
    # Weekdays (Mon–Fri): every 2 hours
    - cron: "0 5-23/2 * * 1-5"
    # Weekends (Sat–Sun): every 6 hours
    - cron: "0 5-23/6 * * 6,0"

jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was triggered by a ${{ github.event_name }} event."
      - name: Check out repository code
        uses: actions/checkout@v4
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - run: echo "This job's status is ${{ job.status }}."
